{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
   <tbody>
            {% for record in records: %}
            <tr>
                <tr>
                    <td class="text-start">{{record['symbol']}}</td>
                    <td class="text-end">{{record['shares']}}</td>
                    <td class="text-end">{{record['price'] | usd}}</td>
                    <td class="text-end">{{record['time']}}</td>
                </tr>
            </tr>
            {% endfor %}

    </tbody>
</table>
{% endblock %}
